PAIR INTRO A PANDAS:

In [1]:
import pandas as pd
import numpy as np
import random

 
1. ¿Qué diferencia hay entre una Serie y un DataFrame?

 Series:
- es una estructura unidimensional (array 1d)
- contiene UN tipo de dato.
- Tiene indice -> pueden ser de distintos tipos (pueden ser numericas, int, ...)
- Propiedades: 
        -> .values
        -> .index
        -> .shape
        -> .size
        -> .dtype

 DATAFRAMES:

- Dos dimensiones
- Cada columna tiene un tipo de dato
- Tiene indice.
- Propiedades:
    -> .size
    -> .shape
    -> .columns

In [2]:
# Es el turno de los DataFrames
# Crea un array de dos dimensiones con 4 filas y 3 columnas.

array = np.random.randint(1,50, (4,3))

print(f"El array bidimensional creado a partir del método np.random.randint(): \n  {array} \n")

El array bidimensional creado a partir del método np.random.randint():
  [[24 32  3]
 [40 31 11]
 [36  8  8]
 [ 3  5 39]]

In [3]:
#Convierte el array en un DataFrame donde las columnas se llamen "España", "Francia" e "Italia".

df_paises = pd.DataFrame(array)

In [4]:
df_paises

    0   1   2
0  24  32   3
1  40  31  11
2  36   8   8
3   3   5  39

In [5]:
paises = ["España", "Francia", "Italia"]

df_paises = pd.DataFrame(array, columns=[paises])

df_paises

  España Francia Italia
0     24      32      3
1     40      31     11
2     36       8      8
3      3       5     39

In [6]:
# Descarga el archivo "medallas" y carga el DataFrame.

df_medallas = pd.read_csv("medallas.csv", index_col = 0) # tb podemos poner index_col= "País"

df_medallas

               País   Oro  Plata  Bronce
1             China  1473    994     720
2             Japón  1032   1037     985
3     Corea del Sur   745    663     827
4              Irán   179    181     197
5        Kazajistán   155    158     224
6             India   154    202     315
7         Tailandia   132    175     278
8         Indonesia   112    131     240
9      China Taipéi    99    144     276
10  Corea del Norte    91    120     235

In [7]:
# Usando el loc extrae todas las columnas de la fila de Tailandia.

df_medallas.loc[df_medallas["País"] == "Tailandia"]

        País  Oro  Plata  Bronce
7  Tailandia  132    175     278

In [8]:
#Usando el loc extrae todas las columnas de China e Irán.

df_medallas.loc[df_medallas["País"] == "China"]

    País   Oro  Plata  Bronce
1  China  1473    994     720

In [9]:
df_medallas.loc[df_medallas["País"] == "Irán"]

   País  Oro  Plata  Bronce
4  Irán  179    181     197

In [10]:
"""df_medallas = df_medallas.loc[(df_medallas["País"] == "China") & (df_medallas["País"]=="tailandia")]
df_medallas"""

'df_medallas = df_medallas.loc[(df_medallas["País"] == "China") & (df_medallas["País"]=="tailandia")]\ndf_medallas'

In [11]:
df_medallas.loc[[1,4]]

    País   Oro  Plata  Bronce
1  China  1473    994     720
4   Irán   179    181     197

In [12]:
# Usando el loc extrae solo las columnas de "Oro", "Plata" y "Bronce" de China e Irán.

df_medallas.loc[[1,4]]

    País   Oro  Plata  Bronce
1  China  1473    994     720
4   Irán   179    181     197

In [13]:
# Usando el iloc extrae la información de la India. Devolved todas las columnas.

df_medallas.iloc[5:6]

    País  Oro  Plata  Bronce
6  India  154    202     315

In [14]:
# Usando el iloc extrae todas las columnas de los países que estén en posición impar. La primera que nos tendría que salir es Japón y la última Corea del Norte.

df_medallas.iloc[1::2]

               País   Oro  Plata  Bronce
2             Japón  1032   1037     985
4              Irán   179    181     197
6             India   154    202     315
8         Indonesia   112    131     240
10  Corea del Norte    91    120     235

In [15]:
# Utilizando el código del ejercicio anterior, selecciona unicamente las columnas "Oro", "Plata" y "Bronce".

df_medallas.iloc[1::2, [1,2,3]]

     Oro  Plata  Bronce
2   1032   1037     985
4    179    181     197
6    154    202     315
8    112    131     240
10    91    120     235

In [16]:
# ¿Qué país consiguió más de 200 medallas de oro?

df_medallas ["Oro"] > 200

1      True
2      True
3      True
4     False
5     False
6     False
7     False
8     False
9     False
10    False
Name: Oro, dtype: bool

In [17]:
df_medallas[df_medallas["Oro"] > 200]

            País   Oro  Plata  Bronce
1          China  1473    994     720
2          Japón  1032   1037     985
3  Corea del Sur   745    663     827

In [18]:
# ¿Qué país consiguió más de 200 medallas de oro y más de 1000 de plata?

df_medallas[(df_medallas["Oro"] > 200) & (df_medallas["Plata"] > 1000)]

    País   Oro  Plata  Bronce
2  Japón  1032   1037     985

In [19]:
# ¿Qué país consiguió más de 200 medallas de oro o más de 700 de bronce?

df_medallas[(df_medallas["Oro"] > 200) & (df_medallas["Bronce"] > 700)]

            País   Oro  Plata  Bronce
1          China  1473    994     720
2          Japón  1032   1037     985
3  Corea del Sur   745    663     827

In [20]:
# Crea una nueva columna que se llame "total" que sea el resultado de la suma de todas las medallas obtenidas por cada país.

df_medallas["Total"] = df_medallas["Oro"] + df_medallas["Plata"] + df_medallas ["Bronce"]
df_medallas

               País   Oro  Plata  Bronce  Total
1             China  1473    994     720   3187
2             Japón  1032   1037     985   3054
3     Corea del Sur   745    663     827   2235
4              Irán   179    181     197    557
5        Kazajistán   155    158     224    537
6             India   154    202     315    671
7         Tailandia   132    175     278    585
8         Indonesia   112    131     240    483
9      China Taipéi    99    144     276    519
10  Corea del Norte    91    120     235    446

In [21]:
# 3.Momento de trabajar con Series. Contesta a las siguientes preguntas:
# Crea dos listas:
# Una que se llame "valores" que tenga 7 números aleatorios.
# Otra que se llame "indices" que tenga 7 strings que se llamen como los días de la semana.

valores = np.random.randint(1,50, 7)

indices = ["lunes", "martes", "miercoles", "jueves", "viernes", "sabado", "domingo"]

In [22]:
"""A partir de estas dos listas crea una Serie donde la variable "valores" sean los valores de la Serie
y la variable indices sean los índices de la Serie."""

serie_dias = pd.Series(valores, index = indices )
serie_dias

lunes         6
martes       18
miercoles    42
jueves       18
viernes      15
sabado       31
domingo      30
dtype: int32

In [23]:
"""A partir de las dos listas anteriores crea un diccionario usando un bucle for. Para hacer esto tenemos el método zip 
que nos permite iterar por dos listas a la vez. Más información sobre este método aquí."""

diccionario = {}

In [24]:
dict(zip(indices,valores)) # nos piden diccionario

{'lunes': np.int32(6),
 'martes': np.int32(18),
 'miercoles': np.int32(42),
 'jueves': np.int32(18),
 'viernes': np.int32(15),
 'sabado': np.int32(31),
 'domingo': np.int32(30)}

In [25]:
diccionario ={}
for e in zip(indices,valores):
    diccionario[e[0]]= e[1]
   
diccionario

{'lunes': np.int32(6),
 'martes': np.int32(18),
 'miercoles': np.int32(42),
 'jueves': np.int32(18),
 'viernes': np.int32(15),
 'sabado': np.int32(31),
 'domingo': np.int32(30)}

In [ ]:
zip(indices,valores)

In [ ]:
"""Crea una Serie con el diccionario creado en el punto anterior."""

In [28]:
serie_dias=pd.Series(diccionario)
serie_dias

lunes         6
martes       18
miercoles    42
jueves       18
viernes      15
sabado       31
domingo      30
dtype: int32

In [ ]:
"""¿Qué forma tiene esta última Serie?"""

In [29]:
serie_dias.shape

(7,)

In [30]:
"""¿Qué tipo de datos tiene?"""

serie_dias.dtype

dtype('int32')

In [31]:
"""¿Qué tamaño tiene?"""

serie_dias.size

7

In [ ]:
"""¿Cuáles son los índices de la Serie?"""

In [32]:
serie_dias.index

Index(['lunes', 'martes', 'miercoles', 'jueves', 'viernes', 'sabado',
       'domingo'],
      dtype='object')

In [33]:
"""¿Y los values?"""

serie_dias.values

array([ 6, 18, 42, 18, 15, 31, 30], dtype=int32)

In [37]:
"""Extrae el valor para el índice "lunes"""

serie_dias[0]

C:\Users\InvitadoLaptop\AppData\Local\Temp\ipykernel_12800\2126384030.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  serie_dias[0]

np.int32(6)

In [40]:
serie_dias["lunes"]

np.int32(6)

In [43]:
"""Extrae el valor para el índice "lunes", "martes" y "miércoles"."""

serie_dias[["lunes", "martes", "miercoles"]]

lunes         6
martes       18
miercoles    42
dtype: int32

In [44]:
"""Extrae el valor para el índice "lunes" y "domingo"."""

serie_dias[["lunes", "domingo"]]

lunes       6
domingo    30
dtype: int32

In [ ]:
# Más ejercicios de loc e iloc
#Para realizar estos ejercicios deberéis usar el conjunto de datos de world-data-2023-part1.csv.

In [49]:
"""Selecciona todas las columnas de las filas 2 a 4 (inclusive) utilizando loc."""

df_world = pd.read_csv("world-data-2023_part1.csv", index_col = 0) 

df_world

,Country,Density\r\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,"164,175","2,740.27",254.90%,VED,2.27,52.70%,$0.00
191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,"192,668",163.52,2.80%,VND,2.05,48.10%,$0.80
192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.10%,YER,3.79,1.00%,$0.92
193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.20%,ZMW,4.63,65.20%,$1.40
194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,"10,983",105.51,0.90%,NaN,3.62,35.50%,$1.34

In [ ]:
df_world.loc[2:4]

,Country,Density\r\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97

In [54]:
"""Utilizando loc, filtra el conjunto de datos para mostrar solo las filas donde la densidad (columna "Birth Rate") es mayor a 30."""

df_world_mayor = df_world.loc[df_world["Birth Rate"] > 30, :]

df_world_mayor

,Country,Density\r\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97
18,Benin,108,BJ,33.30%,"112,622","12,000",36.22,229.0,Porto-Novo,"6,476",110.71,-0.90%,XOF,4.84,37.80%,$0.72
26,Burkina Faso,76,BF,44.20%,"274,200","11,000",37.93,226.0,Ouagadougou,"3,418",106.58,-3.20%,XOF,5.19,19.30%,$0.98
27,Burundi,463,BI,79.20%,"27,830","31,000",39.01,257.0,Bujumbura,495,182.11,-0.70%,BIF,5.41,10.90%,$1.21
28,Ivory Coast,83,CI,64.80%,"322,463","27,000",35.74,225.0,Yamoussoukro,"9,674",111.61,-0.90%,XOF,4.65,32.70%,$0.93
31,Cameroon,56,CM,20.60%,"475,440","24,000",35.39,237.0,Yaound�,"8,291",118.65,2.50%,XAF,4.57,39.30%,$1.03
33,Central African Republic,8,CF,8.20%,"622,984","8,000",35.35,236.0,Bangui,297,186.86,37.10%,NaN,4.72,35.60%,$1.41
34,Chad,13,TD,39.70%,"1,284,000","35,000",42.17,235.0,N'Djamena,"1,016",117.7,-1.00%,XAF,5.75,3.80%,$0.78
38,Comoros,467,KM,71.50%,"2,235",NaN,31.88,269.0,"Moroni, Comoros",202,103.62,-4.30%,KMF,4.21,19.70%,NaN
39,Republic of the Congo,16,NaN,31.10%,"342,000","12,000",32.86,242.0,Brazzaville,"3,282",124.74,2.20%,XAF,4.43,65.40%,$0.97
45,Democratic Republic of the Congo,40,CD,11.60%,"2,344,858","134,000",41.18,243.0,Kinshasa,"2,021",133.85,2.90%,CDF,5.92,67.20%,$1.49
53,Equatorial Guinea,50,GQ,10.10%,"28,051","1,000",33.24,240.0,Malabo,"5,655",124.35,1.20%,XAF,4.51,55.50%,NaN
54,Eritrea,35,ER,75.20%,"117,600","202,000",30.30,291.0,Asmara,711,NaN,NaN,ERN,4.06,14.90%,$2.00
57,Ethiopia,115,ET,36.30%,"1,104,300","138,000",32.34,251.0,Addis Ababa,"14,870",143.86,15.80%,ETB,4.25,12.50%,$0.75
61,Gabon,9,GA,20.00%,"267,667","7,000",31.61,241.0,Libreville,"5,321",122.19,2.10%,XAF,3.97,90.00%,$0.92
62,The Gambia,239,GM,59.80%,"11,300","1,000",38.54,220.0,Banjul,532,172.73,7.10%,GMD,5.22,48.40%,$1.18
69,Guinea,53,GN,59.00%,"245,857","13,000",36.36,224.0,Conakry,"2,996",262.95,9.50%,GNF,4.70,25.80%,$0.90
70,Guinea-Bissau,70,GW,58.00%,"36,125","4,000",35.13,245.0,Bissau,293,111.65,1.40%,XOF,4.48,69.80%,NaN
96,Liberia,53,LR,28.00%,"111,369","2,000",33.04,231.0,Monrovia,"1,386",223.13,23.60%,NaN,4.32,43.10%,$0.80
101,Madagascar,48,MG,71.20%,"587,041","22,000",32.66,261.0,Antananarivo,"3,905",184.33,5.60%,MGA,4.08,21.40%,$1.11
102,Malawi,203,MW,61.40%,"118,484","15,000",34.12,265.0,Lilongwe,"1,298",418.34,9.40%,MWK,4.21,33.20%,$1.15
105,Mali,17,ML,33.80%,"1,240,192","18,000",41.54,223.0,Bamako,"3,179",108.73,-1.70%,XOF,5.88,3.80%,$1.12
108,Mauritania,5,MR,38.50%,"1,030,700","21,000",33.69,222.0,Nouakchott,"2,739",135.02,2.30%,MRU,4.56,0.20%,$1.13
117,Mozambique,40,MZ,63.50%,"799,380","11,000",37.52,258.0,Maputo,"7,943",182.31,2.80%,MZN,4.85,48.00%,$0.65
125,Niger,19,NE,36.10%,"1,267,000","10,000",46.08,227.0,Niamey,"2,017",109.32,-2.50%,XOF,6.91,0.90%,$0.88
126,Nigeria,226,NG,77.70%,"923,768","215,000",37.91,234.0,Abuja,"120,369",267.51,11.40%,NGN,5.39,7.20%,$0.46
144,Rwanda,525,RW,73.40%,"26,338","35,000",31.70,250.0,Kigali,"1,115",151.09,3.40%,RWF,4.04,19.70%,$1.17
150,S�����������,228,ST,50.70%,964,"1,000",31.54,239.0,S����,121,185.09,7.90%,STN,4.32,55.80%,NaN
152,Senegal,87,SN,46.10%,"196,722","19,000",34.52,221.0,Dakar,"10,902",109.25,1.80%,XOF,4.63,42.80%,$1.14
155,Sierra Leone,111,SL,54.70%,"71,740","9,000",33.41,232.0,Freetown,"1,093",234.16,14.80%,SLL,4.26,43.10%,$1.08
159,Solomon Islands,25,SB,3.90%,"28,896",NaN,32.44,677.0,Honiara,169,133.06,1.60%,SBD,4.40,77.90%,NaN
160,Somalia,25,SO,70.30%,"637,657","20,000",41.75,252.0,Mogadishu,645,NaN,NaN,SOS,6.07,10.00%,$1.41
163,South Sudan,18,SS,NaN,"644,329","185,000",35.01,211.0,Juba,"1,727","4,583.71",187.90%,SSP,4.70,NaN,$0.28
166,Sudan,25,SD,28.70%,"1,861,484","124,000",32.18,249.0,Khartoum,"20,000","1,344.19",51.00%,SDG,4.41,8.10%,$0.95
171,Tajikistan,68,TJ,34.10%,"144,100","17,000",30.76,992.0,Dushanbe,"5,310",148.57,6.00%,TJS,3.59,3.00%,$0.71
172,Tanzania,67,TZ,44.80%,"947,300","28,000",36.70,255.0,Dodoma,"11,973",187.43,3.50%,TZS,4.89,51.60%,$0.87
175,Togo,152,TG,70.20%,"56,785","10,000",33.11,228.0,Lom�,"3,000",113.3,0.70%,XOF,4.32,3.10%,$0.71
182,Uganda,229,UG,71.90%,"241,038","46,000",38.14,256.0,Kampala,"5,680",173.87,2.90%,UGX,4.96,9.70%,$0.94
192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.10%,YER,3.79,1.00%,$0.92
193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.20%,ZMW,4.63,65.20%,$1.40
194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,"10,983",105.51,0.90%,NaN,3.62,35.50%,$1.34

In [62]:
"""Utilizando loc selecciona las columnas "Country" y "Capital/Major City" de las filas donde el porcentaje de tierra agrícola (columna "Fertility Rate") es superior al 3."""

df_world.loc[df_world["Fertility Rate"] > 3, ["Country", "Capital/Major City"]]

                              Country Capital/Major City
0                         Afghanistan              Kabul
2                             Algeria            Algiers
4                              Angola             Luanda
18                              Benin         Porto-Novo
26                       Burkina Faso        Ouagadougou
27                            Burundi          Bujumbura
28                        Ivory Coast       Yamoussoukro
31                           Cameroon            Yaound�
33           Central African Republic             Bangui
34                               Chad          N'Djamena
38                            Comoros    Moroni, Comoros
39              Republic of the Congo        Brazzaville
45   Democratic Republic of the Congo           Kinshasa
51                              Egypt              Cairo
53                  Equatorial Guinea             Malabo
54                            Eritrea             Asmara
57                           Ethiopia        Addis Ababa
61                              Gabon         Libreville
62                         The Gambia             Banjul
65                              Ghana              Accra
69                             Guinea            Conakry
70                      Guinea-Bissau             Bissau
80                               Iraq            Baghdad
82                             Israel          Jerusalem
88                              Kenya            Nairobi
89                           Kiribati       South Tarawa
91                         Kyrgyzstan            Bishkek
95                            Lesotho             Maseru
96                            Liberia           Monrovia
101                        Madagascar       Antananarivo
102                            Malawi           Lilongwe
105                              Mali             Bamako
107                  Marshall Islands             Majuro
108                        Mauritania         Nouakchott
111    Federated States of Micronesia            Palikir
117                        Mozambique             Maputo
119                           Namibia           Windhoek
125                             Niger             Niamey
126                           Nigeria              Abuja
131                          Pakistan          Islamabad
135                  Papua New Guinea       Port Moresby
144                            Rwanda             Kigali
148                             Samoa               Apia
150                      S�����������              S����
152                           Senegal              Dakar
155                      Sierra Leone           Freetown
159                   Solomon Islands            Honiara
160                           Somalia          Mogadishu
163                       South Sudan               Juba
166                             Sudan           Khartoum
171                        Tajikistan           Dushanbe
172                          Tanzania             Dodoma
174                        East Timor               Dili
175                              Togo               Lom�
176                             Tonga           Nuku����
182                            Uganda            Kampala
189                           Vanuatu          Port Vila
192                             Yemen              Sanaa
193                            Zambia             Lusaka
194                          Zimbabwe             Harare

In [59]:
df_world.dtypes["Fertility Rate"]

dtype('float64')