PAIR GROUPBY Y APPLY.

In [44]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

In [45]:
df = pd.read_csv("world_data_full.csv", index_col = 0)

EJERCICIOS APPLY

1. Las columnas land_area, armed_forces_size, co2-emissions, gdp, population, urban_population, latitude, longitude, density, cpi son de tipo object pero en realidad deberían ser numéricas. Crea una función que nos permita cambiar el tipo de dato de estas columnas al que le corresponde.

In [46]:
df.columns.tolist()

['country',
 'density',
 'abbreviation',
 'agricultural_land',
 'land_area',
 'armed_forces_size',
 'birth_rate',
 'calling_code',
 'capital/major_city',
 'co2-emissions',
 'cpi',
 'cpi_change',
 'currency-code',
 'fertility_rate',
 'forested_area',
 'gasoline_price',
 'gdp',
 'gross_primary_education_enrollment',
 'gross_tertiary_education_enrollment',
 'infant_mortality',
 'largest_city',
 'life_expectancy',
 'maternal_mortality_ratio',
 'minimum_wage',
 'official_language',
 'out_of_pocket_health_expenditure',
 'physicians_per_thousand',
 'population',
 'population_labor_force_participation',
 'tax_revenue',
 'total_tax_rate',
 'unemployment_rate',
 'urban_population',
 'latitude',
 'longitude']

In [47]:
columnas_a_convertir = [
    "land_area", "armed_forces_size", "co2-emissions", "gdp",
    "population", "urban_population", "latitude", "longitude",
    "density", "cpi"
]

df[columnas_a_convertir].dtypes

land_area            object
armed_forces_size    object
co2-emissions        object
gdp                  object
population           object
urban_population     object
latitude             object
longitude            object
density              object
cpi                  object
dtype: object

In [48]:
df[columnas_a_convertir].sample(3)

,land_area,armed_forces_size,co2-emissions,gdp,population,urban_population,latitude,longitude,density,cpi
9,"83,871","21,000","61,448","446,314,739,528","8,877,067","5,194,416",47.516231,14.550072,109,118.06
39,"342,000","12,000","3,282","10,820,591,131","5,380,508","3,625,010",-0.228021,15.827659,16,124.74
57,"1,104,300","138,000","14,870","96,107,662,398","112,078,730","23,788,710",9.145,40.489673,115,143.86

In [49]:
 # voy a usar la columna dgp

df["gdp"] = (df["gdp"].str.strip().str.replace(",", "").astype(float))

In [50]:
df["gdp"].sample(2)

28    5.879221e+10
96    3.070518e+09
Name: gdp, dtype: float64

In [51]:
# hago una funcion para aplicarla a todas las columnas, esta funcion recibe una seria/columna del DF para aplicarla.

def limpiar_columna(serie):
    return (
        serie
        .astype(str)           # aseguro que todo sea string
        .str.strip()           # quito espacios
        .str.replace(",", "")  # quito comas
        .astype(float)         # convierto a número decimal
    )

In [52]:
columnas_a_convertir = [
    "land_area", "armed_forces_size", "co2-emissions", "gdp",
    "population", "urban_population", "latitude", "longitude",
    "density", "cpi"
]

for col in columnas_a_convertir:
    df[col] = limpiar_columna(df[col])

In [53]:
df[columnas_a_convertir].sample(3)

,land_area,armed_forces_size,co2-emissions,gdp,population,urban_population,latitude,longitude,density,cpi
103,329847.0,136000.0,248289.0,3.647015e+11,32447385.0,24475766.0,4.210484,101.975766,99.0,121.46
50,283561.0,41000.0,41155.0,1.074357e+11,17373662.0,11116711.0,-1.831239,-78.183406,71.0,124.14
1,28748.0,9000.0,4536.0,1.527808e+10,2854191.0,1747593.0,41.153332,20.168331,105.0,119.05

2. Crea una función para añadir una nueva columna llamada 'Continent' al DataFrame para indicar a qué continente pertenece cada país.

In [ ]:
# primero creo un diccionario de paises y continentes:

paises_continentes = {
    'Spain': 'Europe',
    'France': 'Europe',
    'Germany': 'Europe',
    'United States': 'North America',
    'Canada': 'North America',
    'Brazil': 'South America',
    'Argentina': 'South America',
    'Nigeria': 'Africa',
    'South Africa': 'Africa',
    'India': 'Asia',
    'China': 'Asia',
    'Japan': 'Asia',
    'Australia': 'Oceania',
}

In [55]:
# despues hago una funcion para indicar el continente:

def continente (pais):
    return paises_continentes.get(pais, "Unknown")

# Esta función busca el país en el diccionario y devolverá el continente correspondiente. Si no lo encuentra, puede devolver "Unknown"

In [ ]:
# hago que la funcion sirva en la columna del pais:
def continente (pais):
    return paises_continentes.get(pais, "Unknown")

# df["country"]-> accede a la columna country
# .apply(continente) -> aplica la funcion (continente) a cada fila de la columna xountry.
# df["continent"] -> crea una nueva columna llamanda "continent" con los resultados que devuelve la funcion para cada pais.

3. Guarda el DataFrame después de los cambios creados después de los dos ejercicios anteriores para usarlo posteriormente.

In [57]:
# Guardamos el DataFrame en un nuevo archivo CSV
df.to_csv("world_data_clean.csv", index=False)

EJERCICIOS GROUP BY:

1. ¿Cuál es la densidad de población promedio por continente?

In [60]:
df.columns.tolist()

['country',
 'density',
 'abbreviation',
 'agricultural_land',
 'land_area',
 'armed_forces_size',
 'birth_rate',
 'calling_code',
 'capital/major_city',
 'co2-emissions',
 'cpi',
 'cpi_change',
 'currency-code',
 'fertility_rate',
 'forested_area',
 'gasoline_price',
 'gdp',
 'gross_primary_education_enrollment',
 'gross_tertiary_education_enrollment',
 'infant_mortality',
 'largest_city',
 'life_expectancy',
 'maternal_mortality_ratio',
 'minimum_wage',
 'official_language',
 'out_of_pocket_health_expenditure',
 'physicians_per_thousand',
 'population',
 'population_labor_force_participation',
 'tax_revenue',
 'total_tax_rate',
 'unemployment_rate',
 'urban_population',
 'latitude',
 'longitude',
 'continent']

In [61]:
df["density"].sample(2)

33     8.0
58    49.0
Name: density, dtype: float64

In [62]:
df['continent'].sample(2)

52     Unknown
174    Unknown
Name: continent, dtype: object

In [70]:

# Agrupar por continente y calcular la media de la densidad
df_densidad_media = df.groupby("continent")["density"].mean().reset_index()

#agrupamos por continente
# selecciono la columna density que es la columna que quiero usar una vez agrupado por continente.
# calculo la media (mean)
# reset_index() para que sea DF

In [71]:
df_densidad_media.sample(3)

  continent     density
4   Oceania    3.000000
6   Unknown  372.483516
2    Europe  151.000000

2. ¿Cuál es la esperanza de vida promedio por idioma oficial? Agrupa los países por idioma oficial y calcula la esperanza de vida promedio.

In [72]:
# agrupar por idioma oficial (official_language) y calcula la media (mean) de la esperanza de vida (life_expectancy)

# primero reviso las columnas:

df[["official_language", "life_expectancy"]].head(3)

  official_language  life_expectancy
0            Pashto             64.5
1          Albanian             78.5
2            Arabic             76.7

In [ ]:


# Agrupar por idioma y calcular la media de esperanza de vida
df_vida_media = df.groupby("official_language")["life_expectancy"].mean().reset_index()

# groupby("official_language") -> Agrupo por idioma.
# ["life_expectancy"] -> me quedo con la columna de interés.
# .mean() -> Calculo la media por grupo.
# .reset_index() -> Para convertir el índice en columna y que el resultado sea más legible.

In [74]:
df_vida_media.sample(3)

       official_language  life_expectancy
43           Marshallese             65.2
46  Montenegrin language             76.8
15                 Dutch             76.7

3- ¿Cuál es la tasa de mortalidad infantil promedio por moneda?

In [ ]:

# currency_code → la moneda del país
# infant_mortality → tasa de mortalidad infantil

In [79]:
df.columns.tolist()

['country',
 'density',
 'abbreviation',
 'agricultural_land',
 'land_area',
 'armed_forces_size',
 'birth_rate',
 'calling_code',
 'capital/major_city',
 'co2-emissions',
 'cpi',
 'cpi_change',
 'currency-code',
 'fertility_rate',
 'forested_area',
 'gasoline_price',
 'gdp',
 'gross_primary_education_enrollment',
 'gross_tertiary_education_enrollment',
 'infant_mortality',
 'largest_city',
 'life_expectancy',
 'maternal_mortality_ratio',
 'minimum_wage',
 'official_language',
 'out_of_pocket_health_expenditure',
 'physicians_per_thousand',
 'population',
 'population_labor_force_participation',
 'tax_revenue',
 'total_tax_rate',
 'unemployment_rate',
 'urban_population',
 'latitude',
 'longitude',
 'continent']

In [82]:
df[["currency-code", "infant_mortality"]].sample(2)

   currency-code  infant_mortality
14           BBD              11.3
17           BZD              11.2

In [83]:
# Agrupo por 'currency-code' y saco la media de la columna 'infant_mortality'
mortalidad_por_moneda = df.groupby('currency-code')['infant_mortality'].mean().reset_index()


mortalidad_por_moneda.head()

  currency-code  infant_mortality
0           AED               6.5
1           AFN              47.9
2           ALL               7.8
3           AMD              11.0
4           AOA              51.6

4. ¿Cuál es el salario mínimo por continente?

In [84]:
df['minimum_wage'].sample(2)

174    0.60
117    0.27
Name: minimum_wage, dtype: float64

In [85]:
# agrupo por continente y saco la media del salario  minimo

df.groupby("continent")["minimum_wage"].mean().reset_index()

       continent  minimum_wage
0         Africa      0.540000
1           Asia      2.646667
2         Europe      8.916667
3  North America      8.380000
4        Oceania     13.590000
5  South America      2.440000
6        Unknown      1.874348

5.  ¿Cuál es la tasa de impuestos total máxima por densidad de población por continente? Para solucionar este ejercicio puedes:
Primero, necesitas calcular la tasa de impuestos total para cada continente. La tasa de impuestos total se encuentra en la columna "total_tax_rate".
Luego, calcula la densidad de población para cada continente. La densidad de población se encuentra en la columna "density".
Ahora, divide la tasa de impuestos total entre la densidad de población para obtener la tasa de impuestos total por persona por kilómetro cuadrado.
Encuentra el país que tiene el valor más alto en esta nueva columna calculada.

In [ ]:
df.columns.tolist()

# las columnas que necesito son: "total_tax_rate" -> tasa total de impuestos (%)   y "density" -> densidad de poblacion por km cuadrado

['country',
 'density',
 'abbreviation',
 'agricultural_land',
 'land_area',
 'armed_forces_size',
 'birth_rate',
 'calling_code',
 'capital/major_city',
 'co2-emissions',
 'cpi',
 'cpi_change',
 'currency-code',
 'fertility_rate',
 'forested_area',
 'gasoline_price',
 'gdp',
 'gross_primary_education_enrollment',
 'gross_tertiary_education_enrollment',
 'infant_mortality',
 'largest_city',
 'life_expectancy',
 'maternal_mortality_ratio',
 'minimum_wage',
 'official_language',
 'out_of_pocket_health_expenditure',
 'physicians_per_thousand',
 'population',
 'population_labor_force_participation',
 'tax_revenue',
 'total_tax_rate',
 'unemployment_rate',
 'urban_population',
 'latitude',
 'longitude',
 'continent']

In [90]:
df[["total_tax_rate", "density"]].dtypes

total_tax_rate    float64
density           float64
dtype: object

In [91]:
# creo una nueva columna: voy a dividir total_tax_rate entre density para obtener la tasa de impuestos por km cuadrado.

df["tax_per_density"] = df["total_tax_rate"] / df["density"]
# esto crea una nueva columna llamada tax_per_density

In [94]:
# veo quien tiene el valor mas alto:
df[["country", "continent", "tax_per_density"]].sort_values("tax_per_density", ascending=False).head()

# con .sort, lo ordena de forma que salen los 5 paises con la tasa mas alta

                      country continent  tax_per_density
8                   Australia   Oceania        15.800000
108                Mauritania   Unknown        13.400000
114                  Mongolia   Unknown        12.850000
76                    Iceland   Unknown        10.633333
33   Central African Republic   Unknown         9.162500

6. ¿Cuál es el porcentaje de población urbana promedio por continente?

In [95]:
# la columna que necesito es "urban_popular"
# agrupo por continentes, colo la columna que me interesa y hago la media.

df.groupby("continent")["urban_population"].mean()

continent
Africa           7.097833e+07
Asia             4.765826e+08
Europe           5.212520e+07
North America    1.506458e+08
Oceania          2.184476e+07
South America    1.122906e+08
Unknown          1.108512e+07
Name: urban_population, dtype: float64

7. ¿Cuál es la diferencia entre el PIB promedio y el gasto en salud de bolsillo promedio por idioma oficial? Para contestar esta pregunta dabes seguir los siguientes pasos:
Agrupa el DataFrame por idioma oficial y calcula la media del Gasto de Bolsillo en salud (out_of_pocket_health_expenditure) y del GPD.

Calcula la diferencia entre el PIB promedio y el gasto en salud de bolsillo promedio.

In [ ]:
# saber cual es la diferencia entre el PIB y el gasto en salud de bolsillo promedio agrupado por official_language
# agrupo por idioma oficial y necesito las columnas "gdp"(son las siglas en ingles de PIB) y "out_of_pocket_health_expenditure"

df[["gdp", "out_of_pocket_health_expenditure"]].sample(3)

              gdp  out_of_pocket_health_expenditure
104  5.729248e+09                              16.4
79   4.453453e+11                              39.7
47   3.318716e+09                              20.4

In [98]:
df[["gdp", "out_of_pocket_health_expenditure"]].dtypes

gdp                                 float64
out_of_pocket_health_expenditure    float64
dtype: object

In [ ]:
df.groupby("official_language")[["gdp", "out_of_pocket_health_expenditure"]].mean()

# esto devuelve los valores medios del PIB y del gasto en salud por cada idioma.

                            gdp  out_of_pocket_health_expenditure
official_language
Afrikaans          3.514316e+11                               7.7
Albanian           1.527808e+10                              56.9
Amharic            9.610766e+10                              37.8
Arabic             1.366153e+11                              38.0
Armenian           1.367280e+10                              81.6
...                         ...                               ...
Tuvaluan Language  4.727146e+07                               0.7
Ukrainian          1.537811e+11                              47.8
Urdu               3.044000e+11                              66.5
Uzbek              5.792129e+10                              42.7
Vietnamese         2.619212e+11                              43.5

[76 rows x 2 columns]

In [ ]:
# calculo la diferencia entre PIB y gasto de bolsillo